.login {
    display: flex;
    height: 100%;
    justify-content: flex-start;
    align-items: center;
    margin-top: 7vh;
    bottom: 0;
}

.login .left-slogan {
    width: 40%;
    margin-top: -25vh;
    justify-content: flex-start;
    align-items: flex-start;
}

.slogan {
    color: #000000;
    margin-left: 125px;
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
    font-size: 64px;
    margin-bottom: 10px;
}

.text_fg {
    margin-top: 10px;
    color: #000000;
    font-family: "Open Sans", sans-serif;
    font-size: 24px;
    margin-left: 125px;
}

.login .right-form {
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bg-login {
    position: absolute;
    background-color: #cce0e1;
    height: 100%;
    color: #cce0e1;
    right: 0;
    bottom: 0;
    z-index: -1;
    width: 33vw;
}

.right-form .form {
    background-color: #087987;
    padding: 4vh 4vw 4vh 4vw;
    color: #ffffff;
    width: 20vw;
    border-radius: 50px;
    margin: auto;
    margin-top: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form .benvenuto {
    font-family: "Open Sans" sans-serif;
    font-size: 40px;
    margin-bottom: 20px;
}

.form .form-left {
    align-self: flex-start;
}

.form .form-element {
    display: flex;
    position: relative;
    padding-bottom: 1em;
    margin-top: 2vh;
    width: 100%;
    align-items: center;
}

.form-input {
    position: relative;
    width: 100%;
    height: 3.2em;
    font-size: 16px;
    border-radius: 10px;
    box-sizing: border-box;
    padding-left: 3.5em;
    padding-top: 0.85em;
    border: none;
}

.form-input:focus {
    outline: none;
}

.floating-label {
    position: absolute;
    width: 100%;
    padding-left: 2.2em;
    top: 24%;
    left: 1em;
    color: #087987;
    font-size: 18px;
    cursor: text;
    transition: top 200ms ease-in, font-size 200ms ease-in;

    font-family: "Open Sans", sans-serif;
}

.login input:focus ~ .floating-label,
.form-input:not(:placeholder-shown).form-input:not(:focus) ~ .floating-label {
    top: 0.5em;
    font-size: 0.75rem;
    padding: 0 0.125em;
    padding-left: 3em;
}

.form .forgot {
    font-family: "Open Sans", sans-serif;
    font-size: 12px;
    align-self: flex-end;
    text-decoration: none;
}

.btn {
    min-width: 120px;
    width: 140px;
    height: 40px;
    border-radius: 50px;

    outline: none;
    background-color: #ffffff;
    color: #087a87;
    margin-top: 2vh;
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
    font-size: 19px;
    margin-bottom: 3vh;
    border: 3px solid #ffffff;
}

.btn:hover {
    background-color: #ffffff;
    transition-duration: 200ms;
    color: #239bab;
    cursor: pointer;
}

.account {
    font-family: "Open Sans", sans-serif;
    font-size: 13px;
    margin-bottom: 5px;
}

.login a {
    margin-top: 5px;
    font-family: "Open Sans", sans-serif;
    font-size: 19px;

    color: #ffffff;
}

.login a:hover {
    text-decoration: underline;
    color: #ffffff;
}

.icons {
    height: 3.2em;
    position: absolute;
    z-index: 1;
}

@media (max-width: 600px) {
    .login {
        padding-top: 87px;
        flex-direction: column;
    }

    .login .left-slogan {
        margin-top: 0px;
        width: 100%;
    }

    .slogan {
        margin-left: 20px;
        font-size: 38px;
    }

    .text_fg {
        margin-left: 20px;
        font-size: 18px;
    }

    .login .right-form {
        width: 100%;
    }

    .bg-login {
        display: none;
    }

    .right-form .form {
        width: 80%;
        margin-bottom: 50px;
    }
}
