.profile-page {
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-items: center;
    font-family: "Open Sans";
}

.profile-page .left {
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.user {
    padding: 40px 4vw 70px 4vw;
    width: 20vw;
    border: solid;
    border-width: 3px;
    border-color: #087a87;
    border-radius: 45.333px;
    margin: auto;
    margin-top: 15vh;
}

.userCard {
    font-family: "Open Sans";
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cardEmail {
    margin-top: 1vh;
    margin-bottom: 2vh;
}

.profile-page .right {
    position: absolute;
    right: 8vw;
    margin-right: 0;
    width: 33%;
    display: flex;
    background-color: rgba(8, 122, 135, 0.08);
    min-height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    scrollbar-width: 0;
    bottom: 0;
    padding-left: 2vw;
}

.right::-webkit-scrollbar-track {
    -webkit-box-shadow: transparent;
    border-radius: 10px;
    background-color: transparent;
}

.right::-webkit-scrollbar {
    width: 12px;
    background-color: transparent;
}

.right::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: transparent;
    background-color: #087a8746;
}

.inner {
    margin-top: 9vh;
}
.inner .personale {
    font-size: 36px;
}

.settings {
    font-family: "Open Sans";
    font-weight: bold;
    font-size: 32px;
}

.data-web {
    display: block;
    margin-top: 3vh;
}

.data-mobile {
    display: none;
}

.infoGrid {
    margin-top: 3vh;
    display: grid;
    grid-template-columns: auto auto;
}
.mailGrid {
    font-size: 24;
    font-weight: bold;
}

.update-web {
    margin-top: 60px;
    display: none;
}

.update-mobile {
    margin-top: 60px;
    display: none;
}

.update-form-input {
    width: 100%;
    background-color: transparent;
    height: 3.2em;
    font-size: 16px;
    border-radius: 0px 10px 10px 0px;
    box-sizing: border-box;
    padding-left: 1em;
    padding-top: 0.85em;
    border: solid;
    border-width: 2px 2px 2px 0px;
    border-color: #087a87;
}

.update-form-input:focus {
    outline: none;
}

.update-element {
    display: flex;
    position: relative;
    padding-bottom: 1em;
    margin-top: 2vh;
    width: 100%;
    align-items: center;
}

.update-floating-label {
    position: absolute;
    width: 100%;
    padding-left: 2.2em;
    top: 24%;
    left: 1em;
    color: #000000;
    font-size: 18px;
    cursor: text;
    transition: top 200ms ease-in, font-size 200ms ease-in;

    font-family: "Open Sans", sans-serif;
}

.updateForm input:focus ~ .update-floating-label,
.update-form-input:not(:placeholder-shown).update-form-input:not(:focus)
    ~ .update-floating-label {
    top: 0.5em;
    font-size: 0.75rem;
    padding: 0 0.125em;
    padding-left: 3.5em;
}

.update-icons {
    height: 3.2em;
    z-index: 1;
    margin-right: 0px;
    padding-right: 0px;
}
.update-btn {
    min-width: 120px;
    width: 140px;
    height: 40px;
    border-radius: 50px;

    outline: none;
    background-color: transparent;
    color: #087a87;
    margin-top: 2vh;
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
    font-size: 19px;
    margin-bottom: 3vh;
    border: 3px solid #087a87;
    margin-right: 50px;
}
.update-btn:hover {
    background-color: #ffffff;
    transition-duration: 200ms;
    color: #239bab;
    cursor: pointer;
}

@media (max-width: 600px) {
    .profile-page {
        flex-direction: column;
        max-width: 100%;
    }

    .profile-page .left {
        width: 100%;
        height: max-content;
        margin-top: 30px;
        margin-bottom: 40px;
        flex-direction: column;
    }

    .data-mobile {
        display: block;
        margin-top: 100px;
    }

    .data-web {
        display: none;
    }

    .user {
        padding: 20px 4vw 4vw;
        margin-top: 20px;
        width: 85%;
        height: 440px;
        border-radius: 52.425px;
    }

    .userCard {
        font-family: "Open Sans";
        font-weight: bold;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .profile-page .right {
        position: relative;
        width: 100%;
        height: max-content;
        right: 0;
    }

    .infoGrid {
        display: none;
    }
    .inner {
        margin-top: 5px;
        margin-bottom: 50px;
    }

    .inner .personale {
        font-size: 27px;
    }

    .mobile-confirm {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .update-btn-mobile {
        min-width: 120px;
        width: 140px;
        height: 40px;
        border-radius: 50px;

        outline: none;
        background-color: transparent;
        color: #087a87;
        margin-top: 2vh;
        font-family: "Open Sans", sans-serif;
        font-weight: bold;
        font-size: 19px;
        margin-bottom: 3vh;
        border: 3px solid #087a87;
    }
}
