.carousel-container {
    height: 100vh;
    display: flex;
    justify-content: flex-start;
    background-image: url("../../../public/images/Sfondo.png");
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: 60% 80%;
}

.carousel {
    position: sticky;
    box-sizing: content-box;
    display: flex;
    margin-top: 16vh;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: left;
    margin-left: 180px;
}

.slide {
    display: none;
    margin: 20px;
}

.slide.active {
    display: block;
}

.home h1,
h2 {
    font-family: "Open Sans Bold", sans-serif;
    font-size: 48px;
}

.home h3 {
    font-family: "Open Sans Bold", sans-serif;
    font-size: 36px;
}

.home p {
    font-family: "Open Sans Light", sans-serif;
    font-size: 21px;
}

.dots {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 45px;
    margin-left: 15px;
}

.dot {
    height: 12px;
    width: 12px;
    margin: 0 10px;
    border-radius: 50%;
    background-color: #fff;
    border: 1.5px solid #000;
}

.dot:hover {
    background-color: #00808052;
    border-color: #00808052;
}

.dot.active {
    background-color: #008080;
    border-color: #008080;
}

.buttons-container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
