.search {
    display: flex;
    height: 100%;
    align-items: center;
    margin-top: 7vh;
    bottom: 0;
    z-index: 0;
}

.search .left-search {
    float: left;
    width: 50%;
    height: 10%;
    align-items: center;
    justify-content: left;
    margin-left: 50px;
    margin-top: 20px;
    z-index: 0;
}

.right-filters {
    position: absolute;
    right: 0;
    margin-right: 0;
    display: flex;
    justify-content: left;
    background-color: #ecf5f6;
    height: 100%;
    width: 5%;
    bottom: 0;
    padding-left: 5vw;
    overflow-y: scroll;
    z-index: 1;
}

.right-filters .filters {
    margin-top: 6vh;
    margin-bottom: 20vh;
    display: none;
}
.radioButtons {
    margin-left: 10.5vh;
}

h5 {
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    font-size: 24px;
    margin-left: 10vh;
}

span {
    font-family: sans-serif;
    font-weight: normal;
    font-size: 24px;
}

.filters-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    z-index: 1;
    margin-left: -150px;
}

.filtri-scritta {
    position: fixed;
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
    font-size: 36px;
    margin-right: 150px;
    margin-left: 15px;
    z-index: 1;
}

.filters-icon {
    margin-right: -45px;
    position: fixed;
    width: 80px;
    height: 80px;
    cursor: pointer;
    z-index: 1;
}


#open {
    display: none;
}

p {
    margin: 0;
}
.not-found{
    margin-top: 350px;
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
    font-size: 36px;
}

.curriculum-view {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 516px;
    height: 68px;
    box-sizing: border-box;
    left: 100px;
    margin-top: 40px;
    cursor: pointer;
}

.folder-img {
    width: 41px;
    height: 43px;
}

.field {
    position: absolute;
    top: 17px;
    left: 13px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 465px;
    height: auto;
    min-height: 62px;
    padding: 4px 24px;
    border: 3px solid rgba(8, 122, 135, 1);
    border-radius: 30px;
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, 1);
  }
.nome-cognome-professione {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: rgba(8, 122, 135, 1);
    font-size: 24px;
    line-height: 24px;
    font-family: Open Sans, sans-serif;
    font-weight: 700;
    text-align: center;
}

p {
    margin: 0;
}

.indietro-1 {
    position:absolute;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 182px;
    height: 51px;
    padding: 8px 37px 7px;
    border: 3px solid rgba(8, 122, 135, 1);
    border-radius: 30px;
    box-sizing: border-box;
    top: 899px;
    left: 190px;
    cursor: pointer;
}

.indietro-1:hover {
    background-color: #ecf5f6;
  }

.indietro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: rgba(8, 122, 135, 1);
    font-size: 24px;
    line-height: 24px;
    font-family: Open Sans, sans-serif;
    font-weight: 700;
    text-align: center;
}

.avanti-1 {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 182px;
    height: 51px;
    padding: 8px 37px 7px;
    border: 3px solid rgba(8, 122, 135, 1);
    border-radius: 30px;
    box-sizing: border-box;
    top: 899px;
    left: 400px;
    cursor: pointer;
}
.avanti-1:hover {
    background-color: #ecf5f6;
  }

.avanti {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: rgba(8, 122, 135, 1);
    font-size: 24px;
    line-height: 24px;
    font-family: Open Sans, sans-serif;
    font-weight: 700;
    text-align: center;
}
