.search {
    display: flex;
    height: 100%;
    align-items: center;
    margin-top: 7vh;
    bottom: 0;
    z-index: 0;
}

.search .left-search {
    display: flex;
    flex-direction: column;
    float: left;
    width: 80%;
    height: 10%;
    align-items: center;
    justify-content: left;
    margin-left: 50px;
    margin-top: 20px;
    z-index: 0;
    min-height: 800px;
    transition: 0.3;
}

.curriculum-grid {
    margin-top: 50px;
    display: grid;
    justify-content: center;
    align-items: center;
    row-gap: 40px;
    column-gap: 100px;
    grid-template-columns: auto auto;
    transition: 0.1s;
}

.right-filters {
    position: absolute;
    right: 0;
    margin-right: 0;
    display: flex;
    justify-content: left;
    background-color: #ecf5f6;
    height: 100%;
    width: 5%;
    bottom: 0;
    padding-left: 5vw;
    overflow-y: scroll;
    overflow-x: hidden;
    z-index: 1;
    transition: 0.3s;
}

.right-filters .filters {
    margin-top: 6vh;
    margin-bottom: 20vh;
    display: none;
}
.radioButtons {
    margin-left: 10vh;
    margin-top: -30px;
}

.localita {
    margin-left: 10vh;
    margin-top: -35px;
    width: 100%;
}

#cittaTextField {
    margin-bottom: 7px;
    width: 100%;
}
.label-citta {
    color: #000;
    font-size: 22px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

#provinciaTextField {
    margin-bottom: 7px;
    width: 100%;
}

.label-provincia {
    color: #000;
    font-size: 22px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

h5 {
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    font-size: 24px;
    margin-left: 10vh;
}

span {
    font-family: sans-serif;
    font-weight: normal;
    font-size: 24px;
}

.filters-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    z-index: 1;
    margin-left: -150px;
}

.loc {
    z-index: 5;
}

.filtri-scritta {
    position: fixed;
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
    font-size: 36px;
    margin-right: 150px;
    margin-left: 15px;
    z-index: 1;
}

.filters-icon {
    margin-right: -45px;
    position: fixed;
    width: 80px;
    height: 80px;
    cursor: pointer;
    z-index: 1;
}

#open {
    display: none;
}

p {
    margin: 0;
}
.not-found {
    margin-top: 290px;
    margin-right: 50px;
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
    font-size: 36px;
}

.curriculum-view {
    position: relative;
    display: flex;
    width: 480px;
    height: 68px;

    cursor: pointer;
}

.folder-img {
    width: 41px;
    height: 43px;
}

.field {
    position: absolute;
    top: 17px;
    left: 13px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 465px;
    height: auto;
    min-height: 62px;
    padding: 4px 24px;
    border: 3px solid rgba(8, 122, 135, 1);
    border-radius: 30px;
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, 1);
    color: rgba(8, 122, 135, 1);
}

.field:hover {
    color: #ffffff;
    background-color: rgba(8, 122, 135, 1);
    transition: 0.3s;
}

.nome-cognome-professione {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 24px;
    line-height: 24px;
    font-family: Open Sans, sans-serif;
    font-weight: 700;
    text-align: center;
}

p {
    margin: 0;
}

.page-buttons {
    width: 100%;
    margin-top: auto;
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    align-items: center;
    row-gap: 40px;
    column-gap: 100px;
    bottom: 0;
}

.indietro-1 {
    width: 182px;
    height: 51px;
    padding: 8px 37px 7px;
    border: 3px solid rgba(8, 122, 135, 1);
    border-radius: 30px;
    box-sizing: border-box;
    left: 190px;
    cursor: pointer;
    color: rgba(8, 122, 135, 1);
}

.indietro-1:hover {
    background-color: rgba(8, 122, 135, 1);
    color: #ffffff;
    transition: 0.3s;
}

.indietro {
    font-size: 24px;
    line-height: 24px;
    font-family: Open Sans, sans-serif;
    font-weight: 700;
    text-align: center;
}

.avanti-1 {
    width: 182px;
    height: 51px;
    padding: 8px 37px 7px;
    border: 3px solid rgba(8, 122, 135, 1);
    border-radius: 30px;
    box-sizing: border-box;
    left: 400px;
    cursor: pointer;
    color: rgba(8, 122, 135, 1);
}
.avanti-1:hover {
    background-color: rgba(8, 122, 135, 1);
    color: #ffffff;
    transition: 0.3s;
}

.avanti {
    font-size: 24px;
    line-height: 24px;
    font-family: Open Sans, sans-serif;
    font-weight: 700;
    text-align: center;
}
