.home {
    display: flex;
    flex-wrap: nowrap;
    justify-content: left;
    height: 100%;
}
.left {
    width: 60vw;
    left: 0;
    height: 100%;
}
.right {
    width: fit-content;
    right: 0;
    width: 40vw;
    height: 100%;
}
