.home {
    display: flex;
    flex-wrap: nowrap;
    justify-content: left;
    height: 100%;
}

.left {
    width: 60vw;
    left: 0;
    height: 100%;
}

.right {
    width: fit-content;
    right: 0;
    width: 40vw;
    height: 100%;
}

.web {
    display: block;
}

.mobile {
    display: none;
}

@media (max-width: 600px) {
    .home {
        flex-direction: column;
        background-position: 80%;
        background-size: 200%;
        background-repeat: no-repeat;
        background-image: url("../public/images/Sfondo.png");
        height: max-content;
    }

    .web {
        display: none;
    }

    .mobile {
        display: block;
    }

    .left {
        width: 100%;
        height: 400px;
    }

    .right {
        margin-left: 0;
        width: 100%;
        height: max-content;
    }
}